@keyframes anim1 {
    from {
        transform: translateY(-100vh);
        
        
    }
    100% {
        transform: translateY(0vh); 
        }
}


@keyframes anim2 {

   0% {
        transform:translateX(-100vh); 
        
   }

    100% {
        transform: translateX(-5vh);
    }
} 



@keyframes anim3 {
    0% {
        animation-timing-function: cubic-bezier(1, .01, .91, 1.7);
        transform: translateX(100%);
        opacity:0; 
    }
    100% {
        transform: translateX(0);
        opacity:1; 
    }
}



.anim1 {
    transform-origin: top center;
    animation: anim1 2s;

    animation-fill-mode: forwards;
    
}

.anim2 {
    transform-origin: top center;
    animation: anim2 2s ;

    animation-fill-mode: forwards;
    
}

.anim3 {
    // animation-fill-mode: forwards;//
    transform-origin: top center;
    animation: anim3 1s forwards;
    animation-timing-function: cubic-bezier(1, .01, .91, 1.7);
}
