   


@keyframes anim1 {
    from {
        transform: translateY(-100vh)  rotateX(0deg);
         animation-timing-function: cubic-bezier(1, .01, .91, 1.7);
    }
 
    100% {
        transform: translateY(0) rotateX(0deg); 
        animation-timing-function: cubic-bezier(.89, .17, 1, .31);
    }
}

@keyframes anim2 {

   0% {
        transform:translateX(-100vh); 
        
   }

    100% {
        transform: translateX(0);
    }
} 



@keyframes anim3 {
    0% {
        animation-timing-function: cubic-bezier(1, .01, .91, 1.7);
        transform: translateX(-100%) rotateX(60deg);
    }

    100% {
        transform: translateX(0) rotateX(60deg);
    }
}


.anim1 {
    transform-origin: top center;
    animation: anim1 2s;

    animation-fill-mode: forwards;
    
}

.anim2 {
    transform-origin: top center;
    animation: anim2 2s ;

    animation-fill-mode: forwards;
    
}







.anim3 {
    // animation-fill-mode: forwards;//
    transform-origin: top center;
    animation: anim3 1s forwards;
    animation-timing-function: cubic-bezier(1, .01, .91, 1.7);
}
