@import url('https://fonts.googleapis.com/css?family=Righteous');
p {
color:white;
}

.site{
font-family: 'Righteous', cursive;
background-color:#B21D0F;
}
.site-content{
display:flex;
justify-content:center;
background-color:#B21D0F;

}
.wp-block-image img{
border : 3px solid #1469CC;
width:50vh;
}

.wp-block-media-text__media img{
border : 3px solid #1469CC;
width:200vh;
}

.wp-block-media-text__content{
/*display: none;*/
background-color:#1469CC;
margin-left:50px;
}



.content-entry p{
background-color:#1469CC;


}

.widget-area{
color:white;
    
}