
p {
color:white;

 }
.site{
background-color:#B21D0F;
}
.site-content{
background-color:#B21D0F;

}
.wp-block-image img{
border : 3px solid #1469CC;
}

.wp-block-media-text__media img{
border : 3px solid #1469CC;
}

.wp-block-media-text__content{
background-color:#1469CC;
margin-left:50px;
}

.entry-content p{
background-color: #065421;

}

.widget-area{
color:white;

}