
p {
color: white;

 }
.site{
background-color:#065421;
}
.site-content{
background-color:#B21D0F;

}
.wp-block-image img{
border : 3px solid #B21D0F;
}

.wp-block-media-text__media img{
border : 3px solid #B21D0F;
}

.wp-block-media-text__content{
background-color:#B21D0F;
margin-left:50px;
}

.entry-content p{
background-color: #065421;

}